@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;600;700&display=swap");

* {
  backface-visibility: hidden;
}

:root {
  --viewport-height: 100%;
}

* {
  font-family: Signika, "Noto Serif JP", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

a:focus,
button:focus {
  @apply outline-second-2;
}

.nuxt-progress {
  transition: 0.3s;
  &.hide {
    transition: 0.3s;
    opacity: 0;
  }
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  @apply background text-slate-800 dark:text-slate-100;
}

.burger {
  span {
    transition: all 200ms;
    width: 100%;
    display: inline-block;
    height: 3px;
    border-radius: 3px;
    transform-origin: 0;
  }

  &.open {
    z-index: 60;
    span {
      &:first-child {
        transform: translate(3px) rotate(45deg);
      }

      &:not(:first-child):not(:last-child) {
        opacity: 0;
      }

      &:last-child {
        transform: translate(3px, 1px) rotate(-45deg);
      }
    }
  }
}

/* width */
// ::-webkit-scrollbar {
//   width: 10px;
//   // padding: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: transparent;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: rgb(150, 150, 150);
// }

.text-stroke {
  text-shadow:
    2px 0 #fff,
    -2px 0 #fff,
    0 2px #fff,
    0 -2px #fff,
    1px 1px #fff,
    -1px -1px #fff,
    1px -1px #fff,
    -1px 1px #fff;
}

.dark {
  ::-webkit-scrollbar-thumb {
    background: rgb(85, 85, 85);
  }

  .text-stroke {
    text-shadow:
      2px 0 #252525,
      -2px 0 #252525,
      0 2px #252525,
      0 -2px #252525,
      1px 1px #252525,
      -1px -1px #252525,
      1px -1px #252525,
      -1px 1px #252525;
  }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
}

.roundedscrollbar::-webkit-scrollbar {
  width: 15px;
}

.roundedscrollbar::-webkit-scrollbar-track {
  margin-top: 6px;
  margin-bottom: 6px;
  background: white !important;
  background-color: transparent;
}

.roundedscrollbar::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 100vh;
  border: 4px solid white;
}

.roundedscrollbar::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}

.dark {
  .roundedscrollbar::-webkit-scrollbar-track {
    --tw-bg-opacity: 1;
    background-color: rgb(40 43 48 / var(--tw-bg-opacity)) !important;
    @apply bg-dark-2;
  }

  .roundedscrollbar::-webkit-scrollbar-thumb {
    @apply bg-dark-2 border-dark-1;
  }

  .roundedscrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-dark-3/50;
  }
}

@keyframes bounce-in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.vue-recycle-scroller__slot {
  @apply sticky top-0 left-0 right-0 z-[101];
}

.vue-recycle-scroller {
  &::-webkit-scrollbar-track {
    background: rgba(220, 220, 220, 0.3);
  }
}

.dark {
  .vue-recycle-scroller {
    &::-webkit-scrollbar-track {
      background: rgba(85, 85, 85, 0.3);
    }
  }
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
}
.lds-ring div {
  display: block;
  position: absolute;
  width: 38px;
  height: 38px;
  margin: 6px;
  border: 6px solid rgb(90, 90, 90);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(90, 90, 90) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

span.ripple {
  position: absolute; /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 1800ms forwards;
  @apply bg-slate-400/30 dark:bg-zinc-400/20;
  transition: 0.3s;
  &.hide {
    opacity: 0;
  }
}

@keyframes ripple {
  to {
    transform: scale(4);
    // opacity: 0;
  }
}

button,
a {
  @apply outline-0 focus-visible:ring-2 ring-blue-500;
  -webkit-tap-highlight-color: transparent;
}

.speech-pointer-bottom {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
  filter: drop-shadow(rgb(207, 217, 222, 1) -1px 0px 0px);
  @apply border-t-white dark:border-t-dark-1;
}

.dark {
  .speech-pointer-bottom {
    filter: drop-shadow(rgb(207, 217, 222, 0.2) -1px 0px 0px);
  }
}

.preformat {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.card {
  perspective: 1200px;
  &.flipped {
    .card-inner {
      transform: rotateY(180deg);
    }

    &.reverse {
      .card-inner {
        transform: rotateY(-180deg);
      }
    }
  }

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    .card-front {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    .card-back {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transform: rotateY(180deg);
    }
  }
}

.bg-card {
  background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
}
