@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;600;700&display=swap");
@layer components {
  .disable-highlight {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }

  .pulse-color {
    @apply bg-gray-300 dark:bg-dark-3;
  }

  .pulse-color-2 {
    @apply bg-gray-200 dark:bg-dark-2;
  }

  .nav-btn {
    @apply w-9 h-9 flex hover:bg-dark-1 hover:bg-opacity-10 hover:dark:bg-gray-400 hover:dark:bg-opacity-10 rounded-lg;
  }

  .burger {
    @apply md:hidden p-2 flex flex-col justify-around [&>span]:bg-slate-800 [&>span]:dark:bg-slate-100;
  }

  .fans-item {
    @apply hidden [&:not(:nth-of-type(1n+5))]:inline-block min-[460px]:[&:not(:nth-of-type(1n+6))]:inline-block md:[&:not(:nth-of-type(1n+8))]:inline-block lg:[&:not(:nth-of-type(1n+11))]:inline-block xl:[&:not(:nth-of-type(1n+13))]:inline-block;
  }

  .grid-live-now {
    @apply grid grid-cols-[repeat(auto-fill,minmax(150px,1fr))] md:grid-cols-[repeat(auto-fill,minmax(180px,1fr))] xl:grid-cols-[repeat(auto-fill,minmax(220px,1fr))];
  }

  .fade-right {
    mask-image: linear-gradient(to right, black calc(100% - 48px), transparent 100%);
  }
}

:root {
  --viewport-height: 100%;
}

* {
  font-family: Signika, "Noto Serif JP", sans-serif;
}

a:focus,
button:focus {
  @apply outline-second-2;
}

.nuxt-progress {
  transition: 0.3s;
  &.hide {
    transition: 0.3s;
    opacity: 0;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  overflow-y: overlay;
  @apply bg-slate-100 dark:bg-dark-2 text-slate-800 dark:text-slate-100;
}

.burger {
  span {
    transition: all 200ms;
    width: 100%;
    display: inline-block;
    height: 3px;
    border-radius: 3px;
    transform-origin: 0;
  }

  &.open {
    z-index: 60;
    span {
      &:first-child {
        transform: translate(3px) rotate(45deg);
      }

      &:not(:first-child):not(:last-child) {
        opacity: 0;
      }

      &:last-child {
        transform: translate(3px, 1px) rotate(-45deg);
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  // padding: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(150, 150, 150);
}

.text-stroke {
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff,
    -1px 1px #fff;
}

.dark {
  ::-webkit-scrollbar-thumb {
    background: rgb(60, 60, 60);
  }

  .text-stroke {
    text-shadow: 2px 0 #252525, -2px 0 #252525, 0 2px #252525, 0 -2px #252525, 1px 1px #252525, -1px -1px #252525,
      1px -1px #252525, -1px 1px #252525;
  }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
}

.roundedscrollbar::-webkit-scrollbar {
  width: 15px;
}

.roundedscrollbar::-webkit-scrollbar-track {
  margin-top: 6px;
  margin-bottom: 6px;
  background: white !important;
  background-color: transparent;
}

.roundedscrollbar::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 100vh;
  border: 4px solid white;
}

.roundedscrollbar::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}

.dark {
  .roundedscrollbar::-webkit-scrollbar-track {
    --tw-bg-opacity: 1;
    background-color: rgb(30 33 36 / var(--tw-bg-opacity)) !important;
    @apply bg-dark-1;
  }

  .roundedscrollbar::-webkit-scrollbar-thumb {
    @apply bg-dark-2 border-dark-1;
  }

  .roundedscrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-dark-3/50;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out !important;
}
.fade-enter-from,
.fade-leave-active {
  opacity: 0;
}

.sheet-enter-active,
.sheet-leave-active {
  .background {
    transition: 0.5s ease;
  }
  .sheet-content {
    transition: 0.5s ease;
  }
  transition: 0.5s ease;
}

.sheet-enter-from,
.sheet-leave-to {
  .background {
    opacity: 0;
  }
  .sheet-content {
    transform: translateY(100%) !important;
  }
}

@keyframes bounce-in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.vue-recycle-scroller__slot {
  @apply sticky top-0 left-0 right-0 z-[101];
}

.vue-recycle-scroller {
  &::-webkit-scrollbar-track {
    background: rgba(220, 220, 220, 0.3);
  }
}

.dark {
  .vue-recycle-scroller {
    &::-webkit-scrollbar-track {
      background: rgba(85, 85, 85, 0.3);
    }
  }
}

.fade-abs,
.fade-abs-enter-active,
.fade-abs-leave-active {
  transition: opacity 0.4s ease;
}

.fade-abs-enter-from,
.fade-abs-leave-active {
  opacity: 0;
}

.fade-abs-leave-active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

// .page-leave-active,
// .page-enter-active {
//   transition-property: opacity, transform;
//   transition-duration: 300ms;
// }
// .page-enter-from,
// .page-leave-to {
//   opacity: 0;
// }

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(1, 0.5, 0.8, 1);
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

// layout transition
.layout-enter-active {
  transition: all 0.1s ease-out;
}
.layout-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.layout-enter-from,
.layout-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
  }
}

.list-enter-active,
.list-leave-active {
  transition: all 0.8s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.tooltip-bottom-enter-active,
.tooltip-bottom-leave-active {
  transition: all 0.8s ease;
}
.tooltip-bottom-enter-from,
.tooltip-bottom-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
