@import "tailwindcss";

@config "../../tailwind.config.ts";

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@utility nav-btn {
  @apply w-9 h-9 flex hover:bg-dark-1/10  dark:hover:bg-gray-400/10 rounded-lg;
}

@utility burger {
  @apply md:hidden p-2 flex flex-col justify-around [&>span]:bg-slate-800 dark:[&>span]:bg-slate-100;
}

@utility fans-item {
  @apply hidden not-nth-of-type-[1n+5]:inline-block min-[460px]:not-nth-of-type-[1n+6]:inline-block md:not-nth-of-type-[1n+8]:inline-block lg:not-nth-of-type-[1n+11]:inline-block xl:not-nth-of-type-[1n+13]:inline-block;
}

@utility grid-stats {
  @apply grid grid-cols-[repeat(auto-fill,minmax(250px,1fr))];
}

@utility grid-gift-list {
  @apply grid grid-cols-[repeat(auto-fill,minmax(250px,1fr))];
}

@utility grid-member-list {
  @apply grid grid-cols-[repeat(auto-fill,minmax(210px,1fr))] md:grid-cols-[repeat(auto-fill,minmax(240px,1fr))] lg:grid-cols-[repeat(auto-fill,minmax(270px,1fr))] xl:grid-cols-[repeat(auto-fill,minmax(300px,1fr))];
}

@utility grid-follow-list {
  @apply grid grid-cols-[repeat(auto-fill,minmax(280px,1fr))] md:grid-cols-[repeat(auto-fill,minmax(320px,1fr))] lg:grid-cols-[repeat(auto-fill,minmax(380px,1fr))] xl:grid-cols-[repeat(auto-fill,minmax(450px,1fr))];
}

@utility grid-live-now {
  @apply grid grid-cols-[repeat(auto-fill,minmax(130px,1fr))] md:grid-cols-[repeat(auto-fill,minmax(150px,1fr))] lg:grid-cols-[repeat(auto-fill,minmax(180px,1fr))] xl:grid-cols-[repeat(auto-fill,minmax(210px,1fr))];
}


@utility text-shadow {
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}


@utility bg-background {
  @apply bg-slate-100 dark:bg-dark-2;
}

@utility bg-navbar {
  @apply bg-slate-100/80 dark:bg-dark-2/80;
}
@utility bg-container {
  @apply bg-white dark:bg-dark-1;
}

@utility bg-container-2 {
  @apply bg-slate-200 dark:bg-dark-3;
}

@utility bg-on-container {
  @apply bg-white dark:bg-dark-2;
}
@utility bg-hover {
  @apply bg-slate-300 dark:bg-slate-200/25;
}

@utility bg-hover-2 {
  @apply bg-black/10 dark:bg-white/10
}

@utility disable-highlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

@utility pulse-color {
  @apply bg-gray-300 dark:bg-dark-3;
}

@utility pulse-color-2 {
  @apply bg-gray-200 dark:bg-dark-1;
}

@utility fade-right {
  mask-image: linear-gradient(
    to right,
    black calc(100% - 48px),
    transparent 100%
  );
}


/*
this fix z-index extends not working on tailwind v4
*/
@utility z-belowNav {
  z-index: 100;
}

@utility z-nav {
  z-index: 150;
}

@utility z-aboveNav {
  z-index: 200;
}

@utility z-notification {
  z-index: 300;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3@utility 

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
