@import "~assets/core.scss";

.showroom-card {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
  -moz-box-shadow: 0 1px 2px rgb(0 0 0 / 40%);
  -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 40%);
  box-shadow: 0 1px 2px rgb(0 0 0 / 40%);

  img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .gradient {
    position: absolute;
    -moz-box-shadow: inset 0 -65px 38px -30px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 0 -65px 38px -30px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 -65px 38px -30px rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .information {
    color: white;
    padding-left: 10px;
    position: absolute;
    bottom: 0;
    .title {
      font-weight: bold;
      @include for("430px") {
        font-size: 16px;
      }
      @include for("330px") {
        font-size: 14px;
      }
      @include for("230px") {
        font-size: 12px;
      }
    }

    .date {
      margin-bottom: 2px;
      display: inline-block;
      background: rgba(0, 0, 0, 0.5);
      margin-right: 5px;
      border-radius: 4px;
      padding: 0 4px;
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;
      height: 18px;
      letter-spacing: 1.8px;
      box-sizing: border-box;
    }

    .live_info {
      div {
        display: inline-block;
      }

      .livenow {
        background: rgba(0, 0, 0, 0.5);
        margin-bottom: 2px;
        display: inline-block;
        margin-right: 5px;
        border-radius: 4px;
        padding: 0 4px;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        height: 18px;
        box-sizing: border-box;
      }
      .date {
        margin-bottom: 2px;
        display: inline-block;
        background: rgba(255, 1, 1, 0.7);
        margin-right: 5px;
        border-radius: 4px;
        padding: 0 4px;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        height: 18px;
        letter-spacing: 1.8px;
        box-sizing: border-box;
      }
    }
  }

  .action {
    .container {
      height: 100%;
      width: 60%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      a {
        text-decoration: none;
        &.button {
          transition: 0.3s;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: white;
          font-size: 36px;
          &:hover {
            .text {
              text-decoration: underline;
            }
          }
          .text {
            margin-top: 8px;
            font-size: 14px;
            text-align: center;
          }
        }
      }
    }

    &:hover {
      opacity: 1;
      background: rgba(0, 0, 0, 0.7);
    }
    transition: 0.3s;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
